Applications/
Downloads
Music/
xiki/
Applications (Parallels)/
Dropbox/
Pictures/
projects/
xiki-master/
Desktop/
Library/
Public/
dumps/
*.tar.gz
Documents/
Movies/
Snapshots/
tmp/
.Trash/
.CFUserTextEncoding
.atom/
.*.dwk
.cache/
.codeintel/
.cups/
.dropbox/
.gem/
.guard_history
.irb-history
.mysql_history
.npm/
.passenger/
.rvm/
.ssh/
.yjp/
.RubyMine70/
.viminfo
.bash_history

